<div class="center hero-unit">
  <h1>Welcome LCB</h1>

  <h2>
    This is the home page for LCB. GO STRONG OR GO HOME.
  </h2>

  <%= link_to "Sign Up", signup_path, class: "btn btn-large btn-primary" %>
</div>